body {
    color: white;
    background: black;
    margin: 2px;
}

header {
    border-bottom: solid 1px rgb(118, 118, 118);
    padding: 12px;
    font-size: 33px;
    color: rgb(219, 216, 2156)
}

section {
    background: rgb(184,156,213);
}
